NET "ExternalClk" LOC = E3 | IOSTANDARD = LVCMOS33;
NET "Vsync" LOC = B12 | IOSTANDARD = LVCMOS33;
NET "Hsync" LOC = B11 | IOSTANDARD = LVCMOS33;
NET "ColorOut[0]" LOC = C7 | IOSTANDARD = LVCMOS33;
NET "ColorOut[1]" LOC = B7 | IOSTANDARD = LVCMOS33;
NET "ColorOut[2]" LOC = B6 | IOSTANDARD = LVCMOS33;
NET "ColorOut[3]" LOC = A5 | IOSTANDARD = LVCMOS33;
NET "ColorOut[4]" LOC = C6 | IOSTANDARD = LVCMOS33;
NET "ColorOut[5]" LOC = C5 | IOSTANDARD = LVCMOS33;
NET "ColorOut[6]" LOC = B4 | IOSTANDARD = LVCMOS33;
NET "ColorOut[7]" LOC = A3 | IOSTANDARD = LVCMOS33;
